body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.topnav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center h1 and nav links */
    background-color: black;
    opacity: 0.9;
    padding: 20px 0;
}

/* Style for the h1 */
.topnav h1 {
    color: white;
    margin-bottom: 10px; /* Space between name and links */
    font-size: 24px;
}

/* Style for the nav links */
.nav-links {
    display: flex; /* Ensure links are displayed in a row */
    justify-content: center;
}

.nav-links a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-title {
    color: white;
    margin: 0;
    font-size: 24px; /* Set the size for the h1 tag */
    padding-bottom: 10px; /* Space between h1 and the links */
}

.profile-img {
    width: 150px; /* Fixed image size */
    height: 150px; /* Fixed height to maintain ratio */
    object-fit: cover; /* Ensure all images fit without distortion */
    border-radius: 50%;
    margin-top: 80px;
}

.fache img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the images are all the same size without distortion */
    border-radius: 50%; /* Circular images */
}

.fache {
    text-align: center;
    margin: 20px 0;
}

.bio {
    list-style-type: none;
    padding: 0;
}

.bio li {
    margin: 5px 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    margin-top: 20px;
    max-width: 800px; /* This makes the column narrower */
    width: 100%; /* Ensure the content doesn't overflow */
}
.main-content img{
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: auto;
}

.site-footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    position: relative;
}
