---
---

@import "{{ site.theme }}";

// html{
//   scroll-behavior: smooth;
// }

#myTopNav {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  height: 150px;
  position: fixed;
  width: 100%;
}

h1{
  color: #fff;
}
